<h2>Control Value Accessor</h2>

<div>
  <rating-input
    [(ngModel)]="data"
    [disabled]="false"
    (ngModelChange)="onChange($event)"
    name="rating"
    #validations="ngModel"
  ></rating-input>
</div>

<div>
  <p>Data</p>
  <p>{{ data }}</p>
  <p>rating</p>
  <p>{{ validations?.control | json }}</p>
</div>

<hr />
<hr />
<hr />
<hr />
<hr />

<main class="grid place-items-center">
  <form [formGroup]="form" class="max-w-4xl p-6 bg-white rounded-md">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        class="w-full"
        type="text"
        id="name"
        formControlName="name"
        autocomplete="name"
      />
    </div>
    <div class="form-group">
      <label for="github">Github</label>
      <input
        class="w-full"
        type="url"
        id="github"
        formControlName="github"
        autocomplete="off"
      />
    </div>
    <div class="form-group">
      <label for="website">Website</label>
      <input
        class="w-full"
        type="url"
        id="website"
        formControlName="website"
        autocomplete="off"
      />
    </div>
    <div class="form-group">
      <label for="server">Region</label>
      <app-country-selector
        formControlName="server"
        id="server"
      ></app-country-selector>
    </div>
    <div class="form-group">
      <label>Communication</label>
      <app-communication-preference
        formControlName="communications"
      ></app-communication-preference>
    </div>
    <footer class="flex items-center justify-between mt-4">
      <button class="btn secondary" (click)="toggleServerDisable()">
        {{ this.form.get("server")?.disabled ? "Enable" : "Disable" }} Server
      </button>
      <div class="space-x-2">
        <button class="btn primary" (click)="saveForm()">Save</button>
        <button class="btn secondary">Cancel</button>
      </div>
    </footer>
  </form>
</main>
