/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "Poppins", sans-serif;
}

// @import "colors";
// @import "forms";
// @import "buttons";

button:disabled {
  cursor: not-allowed;
}
